  @font-face {
    font-family: 'TT Lakes';
    src: url('TTLakes-Bold.eot');
    src: local('TT Lakes Bold'), local('TTLakes-Bold'),
    url('TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
    url('TTLakes-Bold.woff') format('woff'),
    url('TTLakes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;}

    @font-face {
    font-family: 'TT Lakes';
    src: url('TTLakes-Regular.eot');
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
    url('TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
    url('TTLakes-Regular.woff') format('woff'),
    url('TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('TTLakes-DemiBold.eot');
    src: local('TT Lakes DemiBold'), local('TTLakes-DemiBold'),
    url('TTLakes-DemiBold.eot?#iefix') format('embedded-opentype'),
    url('TTLakes-DemiBold.woff') format('woff'),
    url('TTLakes-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
body{
    font-family: "TT Lakes", Arial, sans-serif;
    width: 100%;
    height: 100%;
    margin: 0; 
    background-color: #F8F8F8;
    box-sizing: border-box;
}
.page-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 40px;
   padding: 15px;
   background-color: white;
   border-bottom: 1px solid #D9FFF5;
} 
.page-header__left-section{
    display: flex;
    align-items: center;
    gap: 15px;
}
  .round-icon {
    width: 40px;
    height: 40px; 
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}
.round-icon--burger {
    background-image: url("img/burger.svg"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.page-header__logo {
    width: 100px;
    height: 55px;
} 

.page-header__mobile-hidden {
    display: none; 
}
.page-header__right-section{
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
}
.page-header__right-section::before {
    content: "";
    left: -20px;
    top: 5px;
    position: absolute;
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
}
.round-icon--repair {
    background-image: url("./img/repair.svg"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    vertical-align: middle;
    display: inline-block;
}

.round-icon--checkstatus {
    background-image: url("./img/checkstatus.svg"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    vertical-align: middle;
    display: inline-block;
}
.main{
    background-color: #F8F8F8;
    box-sizing: border-box;
}
.main-header__h1{
    font-family:"TT Lakes", Arial, sans-serif;
    font-size: 28px;
    font-weight: bold;
    line-height: 40px;
    letter-spacing: -0.6px;
    padding: 15px;
    margin: 0;
    position: relative;
}

.main-header__h1::before {
    content: " ";
    position:absolute;
    left: -1px;
    width: 5px;
    height: 40px;
    background-color: #41F6D7;
    border-radius: 30%;
}
.main-header__icons {
    display: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.main__scroll-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    gap: 15px;
    padding: 15px; 
    margin: 0; 
    overflow-x: scroll;
    scrollbar-width: none;
}


.main__scroll-menu-link {
    text-decoration: none;
    color: #7E7E82;
    padding: 10px;
}
.main__scroll-menu-link:hover{
    text-decoration: none;
    border: 2px solid #41F6D7;
    /* padding: 5px 15px; */
    border-radius: 5px;
    background-color: white;
    /* padding-left: 4px */
}

/* .main__scroll-menu-link_active{
    text-decoration: none;
    border: 2px solid #41F6D7;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: white;
} */

/* .main__scroll-menu-link_desktop{
    display: none;
} */

.main__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    margin: 0 15px;
}

.main__text-content{
    height: 100px;
    overflow: hidden;
}

.main__text-more{
    border: none;
    background-color: transparent;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    padding: 0;
    margin: 10px;


}
.main__text-more::before{
    content: url("img/icon.svg");
    display: inline-block;
    padding-right: 15px;
    vertical-align: middle;
}
.main__image { 
   width: 100%;

}

@media(min-width:768px)  and
 (max-width: 1119px) {

.page-header__left-section{
    position: relative;
    gap: 40px;
    flex-grow: 1;
}
.page-header__left-section::after{
    content: "";
    left: 60px;
    top: 12px;
    position: absolute;
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
}
.page-header__mobile-hidden{
    display: flex;
    gap: 15px;
}
   .round-icon--call{
    background-image: url("img/call.svg"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
   }
   .round-icon--chat{
    background-image: url("img/chat.svg"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
   }
   .round-icon--profile {
    background-image: url("img/profile.svg"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
   }

   .main__container{ 
    display: flex;
}
.main__scroll-menu-link_desktop {
    display: none;
}

 .main__text-content{
    height: 140px;
    overflow: hidden;
 }
.main__image {
 max-width: 360px;
 max-height: 208px;
 margin: 15px 25px 10px 30px;
 border-radius: 2%;
}
 }

@media (min-width:1120px){
.page-header {
    display: none; 
}
.main-header{
    display: flex;
    justify-content: space-between;
}
.main-header__icons {
   display: flex;
   align-items: center;
   font-family: "TT Lakes", Arial, sans-serif;
   font-size: 16px;
   font-weight: 500;
   line-height: 24px;
   letter-spacing: -0.2px;
}
.main-header__icon{
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    padding: 10px 20px
}
.round-icon--checkstatus, .round-icon--repair{
    margin-left: 10px;
}
.main__scroll-menu{
    flex-wrap: wrap;
    overflow-x: clip;
    margin: 0;
}
.main__scroll-menu:nth-child(2n+4){
    display: none;
}
  .main__container{ 
    display: flex;
    }

 .main__text-content{
    height: 160px;
    overflow: hidden;
 }


.main__text-more{
    display: block;
    margin: 10px;
}
.main__image {
    max-width: 535px;
    max-height: 385px ;
    margin: 0 20px 0 30px;
    border-radius: 1%;
}
}

